# JobSift Database Environment Configuration
PGHOST=ep-aged-breeze-azpkzd6l-pooler.c-3.ap-southeast-1.aws.neon.tech
PGDATABASE=neondb
PGUSER=neondb_owner
PGPASSWORD=your_password
PGPORT=5432
PGSSLMODE=require
PGCHANNELBINDING=require

DATABASE_URL=postgresql://neondb_owner:your_password@ep-aged-breeze-azpkzd6l-pooler.c-3.ap-southeast-1.aws.neon.tech/neondb?sslmode=require
